.button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    width: 30pxs;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.button:focus{
    outline: none;
}   

.button_line {
    width: 25px;
    height: 2px;
    background: white;
}

.button_scrolled {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    width: 30pxs;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.button_line_scrolled {
    width: 25px;
    height: 2px;
    background: black; 
}