
.first_grid {
    display: flex;
    align-items: center;
    color: white;
    height: 650px;
    margin: 200px 0px 50px;
    position: relative;
    
}

.contact_pic {
    height: 650px;
    display: inline-block;
    position: relative;
}
.contact_pic img {
    height: 650px;
    opacity: 0.7;
    transition: 0.5s;
}
.contact_pic img:hover {
    transition: 0.5s;
    opacity: 1;
}
.contact_pic img:hover .contact_pic_text {
    background-color: rgb(218, 78, 53);
}
.contact_pic_text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15%;
    opacity: 1;
    text-align: center;
    width: 60%;
    font-size: 40px;
    font-weight: 900;
}


.contact_text {
    background-color: rgb(252, 116, 92);
    width: 100%;
    height: 100%;
    margin: auto;
}
.contact_title {
    letter-spacing: 5px;
    font-size: 30px;
    font-weight: bold;   
    padding-top: 70px; 
    padding-bottom: 45px;
}

.contact_body {
    /* padding: 20px 50px; */
    letter-spacing: 2px;
    width: 80%;
    margin: 0px auto;
}
.contact_body_text {
    width: 100%;
    margin: auto;
    line-height: 200%;
    font-size: 20px;
}
.contact_tags {
    margin: 80px auto 0px;
    width: 50%;
}

.contact_email, .contact_phone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.email_icon {
    margin: 0 10px 0 0;
}

.phone_icon {
    margin: 0 10px 0 0;
}

@media (max-width: 779px) {
    .first_grid {
        display: inline-block;
        height: auto;
        margin-top: 100px;
    }
    .contact_pic {
        height: auto;
    }
    .contact_pic img{
        width: 100%;
        height: auto;
    }

    .contact_text {
        padding-bottom: 50px;
    }
    .contact_body {
        width: 95%;
    }
    .contact_body_text {
        font-size: 18px;
    }
    .contact_tags {
        width: 100%;
    }
}