.shop{
    /* padding: 100px; */
    width: 100%;
    color: white;
    letter-spacing: 2px;    
    font-weight: bolder;
    font-size: 30px;
}

.title {
    margin-top: 100px;
    margin-bottom: 60px;
}

@media (max-width: 769px) {
    .shop{
        widows: 100%;;
    }
    .title {
        margin-top: 80px;
        margin-bottom: 20px;
    }
}