.home {
    background-color: black;
    width: 100%;
    /* display: block; */
    color: white;
    /* margin: 100px; */
}

.first_picture {
    width: 100%;
    z-index: 1;
}

.second_block {
    background-color: black;
    color: white;
    display: flex;
}

.complete_text {
    width: 50%;
}

.second_block_title {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 6px;
    margin: 30px 10px 20px;
    text-align: left;
}

.second_block_body {
    margin: 10px 10px;
    text-align: left;
    letter-spacing: 2px;
    width: 90%;
    line-height: 200%;
    text-align: justify;
}

.second_block_link a {
    color: tomato;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    float: left;
    margin: 0px 10px;
    font-size: 90%;
}

.second_picture {
    width: 60%;
    opacity: 0.6;
    z-index: 1;
    display: block;
    margin: 0 auto;
}

.third_block {
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
}

.third_block_style {
    background-color: tomato;
    width: 80%;
    display: flex;
    /* justify-content: space-between; */
}

.third_picture {
    width: 600px;
    display: block;
    position: relative;
    /* margin: 0 0; */
    left: 0%;
}

.third_block_text {
    width: 120%;
    right: 0;
}

@media (max-width: 768px) {
    .second_picture {
        display: none;
        width: 0%;
    }
    .second_block_title {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 5px;
        margin: 30px 10px 20px;
        text-align: left;
        width: 180%;
    }
    .second_block_body {
        margin: 10px 10px;
        text-align: left;
        letter-spacing: 2px;
        width: 180%;
        line-height: 200%;
        text-align: justify;
    }
}

